{{change studentMenuOption 0}}
<form action="/student/addFav" method="POST" id="f_addFav">
  {{! add or remove => watchlist }}
  <input type="hidden" name="CourseID" id="hid_add_CourseID" value="" />
  <input type="hidden" name="s_ID" id="hid_add_s_ID" value="" />
</form>
<form action="/student/remFav" method="POST" id="f_remFav">
  <input type="hidden" name="wl_ID" id="hid_rem_wl_ID" value="" />
</form>
<h5 class="card-header">All your courses</h5>
<div class="card mb-3">
  {{#each courses}}
    <div class="row g-0 m-2 shadowBox">
      <div class="col-md-4" style="position: relative">
        <img
          class="center card-img-top"
          src="../../public/images/{{CourseID}}.jpg"
          alt="{{CourseName}}"
          onerror='this.onerror = null; this.src="../../public/images/{{CourseID}}.jpeg"'
        />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <a class="card-title" href="/course/{{CourseID}}">
            <h5>{{CourseName}}</h5>
          </a>
          <p class="card-text">{{TinyDes}}</p>
          <p
            class="card-text text-danger"
            style="font-weight:bold;margin-top:-15px;"
          >Students enrolled:
            {{TotalStudents}}</p>
          <div class="d-flex justify-content" style="margin-top:-10px;">
            <p style="margin-right: 10px">Rating: <strong>{{Rate}}</strong> </p>
            <div class="stars-outer">
              <div class="stars-inner" data-value="{{Rate}}"></div>
            </div>
            <p>&nbsp; ({{NumRate}} rates)</p>
          </div>
          <p
            class="text-muted"
            style="margin:-10px 0 -3px 0;font-size:small"
          >Course status
            {{#ifeq Active 0}}
              <i
                class="fas fa-check fa-xs fa-fw"
                style="position:relative;top:-1px;"
              ></i>
            {{/ifeq}}
            {{#ifeq Active 1}}
              <i
                class="fas fa-sync fa-xs fa-fw"
                style="position:relative;top:-1px;"
              ></i>
            {{/ifeq}}
            <br />
            Last update on
            {{LastUpdate}}
            <br />
            Views:
            {{NumberSeen}}
          </p>
        </div>
      </div>
      <div class="col-md-2 d-flex flex-column justify-content-center">
        <a
          type="button"
          class="btn btn-outline-success btn-course btn-raised shadow my-button w-xs mb-2"
          href="/student/learn?id={{CourseID}}"
          role="button"
        >
          <i class="fas fa-play fa-fw"></i>
        </a>
        {{#if wl_ID}}
          <button
            type="submit"
            class="btn btn-outline-danger btn-course btn-raised shadow my-button w-xs"
            id="btn_remFav"
            data-wl_ID="{{wl_ID}}"
          >
            <i style="" class="fa fa-heart fa-fw"></i>
          </button>
        {{else}}
          <button
            type="submit"
            class="btn btn-outline-danger btn-course btn-raised shadow my-button w-xs"
            id="btn_addFav"
            data-CourseID="{{CourseID}}"
            data-s_ID="{{s_ID}}"
          >
            <i style="" class="fa fa-heart-o fa-fw"></i>
          </button>
        {{/if}}
      </div>

    </div>
  {{/each}}

</div>

{{#section "js"}}
  <script>
    $( document ).on( 'click', '#btn_remFav', function () { const wl_ID = $(
    this ).attr( "data-wl_ID" ); $( '#hid_rem_wl_ID' ).val( wl_ID ); $(
    '#f_remFav' ).submit(); } ); $( document ).on( 'click', '#btn_addFav',
    function () { const CourseID = $( this ).attr( "data-CourseID" ), s_ID = $(
    this ).attr( "data-s_ID" ); //alert( ` CourseID = ${ CourseID } s_ID = ${
    s_ID }` ); $( '#hid_add_CourseID' ).val( CourseID ); $( '#hid_add_s_ID'
    ).val( s_ID ); $( '#f_addFav' ).submit(); } );

  </script>
{{/section}}
{{#section "css"}}
  <link rel="stylesheet" href="/public/stylesheets/courses.css" />
  <style>
    .course-controller { flex: 1 1 auto; margin: 5px; border: 3px solid; }
  </style>
{{/section}}